{
    "openapi": "3.0.0",
    "info": {
        "title": "Geocoders API",
        "version": "1.0.0",
        "description": "API that powers geospatial applications"
    },
    "servers": [
        {
            "url": "https://api.geocoders.io"
        },
        {
            "url": "https://api-test.geocoders.io"
        }
    ],
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "paths": {
        "/geocode/forward": {
            "post": {
                "tags": [
                    "geocoding"
                ],
                "description": "Convert an address to latitude/longitude pair",
                "summary": "/geocode/forward",
                "requestBody": {
                    "description": "Adress to forward geocode",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ForwardGeocodeInput",
                                "example": {
                                    "street_name": "Nieuwe Binnenweg",
                                    "house_number": 1
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Forward geocode response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForwardGeocodeResponse",
                                    "example": {
                                        "latitude": 4.47241704538452,
                                        "longitude": 51.9170672712528
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/geocode/reverse": {
            "post": {
                "tags": [
                    "geocoding"
                ],
                "description": "Convert a latitude/longitude pair to address",
                "summary": "/geocode/reverse",
                "requestBody": {
                    "description": "Latitude/longitude pair to reverse Geocode",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReverseGeocodeInput",
                                "example": {
                                    "latitude": 51.9170562,
                                    "longitude": 4.4708004
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reverse geocode response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReverseGeocodeResponse",
                                    "example": {
                                        "house_number": "27",
                                        "house_character": null,
                                        "house_number_addition": null,
                                        "street_name": "Nieuwe Binnenweg",
                                        "zipcode": "3014GB",
                                        "municipality": "Rotterdam",
                                        "province": "Zuid-Holland"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/geocode/postcode": {
            "post": {
                "tags": [
                    "postcode"
                ],
                "description": "Address lookup for given zipcode",
                "summary": "/geocode/postcode",
                "requestBody": {
                    "description": "Postcode to convert to address",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostcodeLookupInput",
                                "example": {
                                    "zipcode": "3012LA"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reverse geocode response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostcodeLookupResponse",
                                    "example": [
                                        {
                                            "house_number": "6",
                                            "house_character": null,
                                            "house_number_addition": "01",
                                            "street_name": "Eendrachtsplein",
                                            "zipcode": "3012LA",
                                            "municipality": "Rotterdam",
                                            "province": "Zuid-Holland",
                                            "latitude": 4.47376300030858,
                                            "longitude": 51.9170599235977
                                        },
                                        {
                                            "house_number": "8",
                                            "house_character": null,
                                            "house_number_addition": "SO",
                                            "street_name": "Eendrachtsplein",
                                            "zipcode": "3012LA",
                                            "municipality": "Rotterdam",
                                            "province": "Zuid-Holland",
                                            "latitude": 4.47377869163882,
                                            "longitude": 51.9170388321027
                                        },
                                        {
                                            "house_number": "10",
                                            "house_character": null,
                                            "house_number_addition": "01",
                                            "street_name": "Eendrachtsplein",
                                            "zipcode": "3012LA",
                                            "municipality": "Rotterdam",
                                            "province": "Zuid-Holland",
                                            "latitude": 4.47385905049655,
                                            "longitude": 51.9169470522733
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-Api-Key"
            }
        },
        "schemas": {
            "ForwardGeocodeInput": {
                "type": "object",
                "required": [
                    "street_name",
                    "house_number"
                ],
                "properties": {
                    "street_name": {
                        "type": "string"
                    },
                    "house_number": {
                        "type": "integer"
                    },
                    "house_character": {
                        "type": "string"
                    },
                    "municipality": {
                        "type": "string"
                    },
                    "province": {
                        "type": "string"
                    }
                }
            },
            "ForwardGeocodeResponse": {
                "type": "object",
                "properties": {
                    "latitude": {
                        "type": "number",
                        "format": "float"
                    },
                    "longitude": {
                        "type": "number",
                        "format": "float"
                    }
                }
            },
            "ReverseGeocodeInput": {
                "type": "object",
                "required": [
                    "latitude",
                    "longitude"
                ],
                "properties": {
                    "latitude": {
                        "type": "number",
                        "format": "float"
                    },
                    "longitude": {
                        "type": "number",
                        "format": "float"
                    }
                }
            },
            "ReverseGeocodeResponse": {
                "type": "object",
                "properties": {
                    "house_number": {
                        "type": "string",
                        "nullable": true
                    },
                    "house_character": {
                        "type": "string",
                        "nullable": true
                    },
                    "house_number_addition": {
                        "type": "string",
                        "nullable": true
                    },
                    "street_name": {
                        "type": "string"
                    },
                    "zipcode": {
                        "type": "string"
                    },
                    "municipality": {
                        "type": "string",
                        "nullable": true
                    },
                    "province": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "PostcodeLookupInput": {
                "type": "object",
                "required": [
                    "zipcode"
                ],
                "properties": {
                    "zipcode": {
                        "type": "string"
                    }
                }
            },
            "PostcodeLookupResponse": {
                "type": "object",
                "properties": {
                    "house_number": {
                        "type": "string",
                        "nullable": true
                    },
                    "house_character": {
                        "type": "string",
                        "nullable": true
                    },
                    "house_number_addition": {
                        "type": "string",
                        "nullable": true
                    },
                    "street_name": {
                        "type": "string"
                    },
                    "zipcode": {
                        "type": "string"
                    },
                    "municipality": {
                        "type": "string",
                        "nullable": true
                    },
                    "province": {
                        "type": "string",
                        "nullable": true
                    },
                    "latitude": {
                        "type": "number",
                        "format": "float"
                    },
                    "longitude": {
                        "type": "number",
                        "format": "float"
                    }
                }
            }
        }
    }
}
